<!DOCTYPE html>
{% extends 'myapp/base.html' %}

{% block title %} Home {% endblock title %}
{% load static %}
{% block content %}
    <h1>bienvenidos a esta pagina </h1>
    <p>Esta es la pagina acerca de  </p>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'images/img4.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    
{% endblock content %}